# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/*

# Vendoring
node_modules
vendor

# Test binary, build with `go test -c`
*.test
*_fuzz_target
*_fuzz_target.a
report.xml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*-report.json

# IDE
.idea

# Test
coverage.txt

# Ignore build
pkged.go
dist

# Security
*.pem
*.csr

# Vagrant
.vagrant

# Logs
*.log
